<!DOCTYPE html>
<html>
<body>
<head>
<title>The cow says &quot;Hello openSUSE conference...&quot;</title>
</head>
<pre class="cow">

  _______________________________
&lt; Hello openSUSE conference 2023! &gt;
  -------------------------------
         \   ^__^
          \  (oo)\_______
             (__)\       )\/\\
                 ||----w |
                 ||     ||
</pre>
</body>
</html>
